{% extends 'auctions/layout.html' %}
{% load tz %}

{% block body %}
<div>
    <h2>{{auction.title}}</h2>
    <small>Creator: {{auction.user}}. Expires at {{auction.duration | date:'D, d M Y'}}.</small>
</div>


<img src="{{auction.image}}" alt="">

<p><strong>Description: </strong>{{ auction.description }}</p>

{% if last_bid == None %}
<p>Current bid: $ {{ auction.initialBid }}</p>
{% else %}
<p>Current bid: $ {{ last_bid.value }}</p>
{% endif %}

{% if user != auction.user and not auction_already_on_watchlist %}

<a href="{% url 'add_to_watchlist' auction.id %}">Add this Auction to my Watchlist.</a>

{% elif user != auction.user and auction_already_on_watchlist %}

<a href="{% url 'remove_from_watchlist' auction.id %}">Remove this Auction from my Watchlist.</a>

{% endif %}

<hr>

{% timezone "America/Sao_Paulo" %}
<div>
    
    <h2>Comments</h2>
    <div>
        {% for comment in comments %}

        <div><small><strong>{{comment.user}} - {{comment.createDate | date:'D, d M Y, H:i'}}</strong></small></div>
        <div>{{comment.text}}</div>


        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}
    </div>
</div>
{% endtimezone %}

<hr>
<h3>New Comment</h3>
<p>Comment as {{user}}:</p>

<form action="{% url 'add_comment' auction.id %}" method="POST" enctype=multipart/form-data >
    {% csrf_token %}
<div class="form-group">
    {{ comment_form }}
    
</div>
<input type="submit" class="btn btn-primary">
</form>
{% if user == auction.user %}

<a href="">Close Listing</a>

{% endif %}

{% endblock %}